<%= form_with(model: reference_range, url: biomarker_reference_ranges_path, method: :post ) do |form| %>
  <% if reference_range.errors.any? %>
    <%= render "layouts/error_flash",
               header: "#{pluralize(reference_range.errors.count, "error")} prohibited this reference range from being saved:",
               errors: reference_range.errors.full_messages
    %>
  <% end %>

  <div>
    <%= form.label :min_value, style: "display: block" %>
    <%= form.text_field :min_value %>
  </div>

  <div>
    <%= form.label :max_value, style: "display: block" %>
    <%= form.text_field :max_value %>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_field :source %>
  </div>

  <div>
    <%= form.submit class: "my-4 create-button" %>
  </div>
<% end %>
