<div class="mb-6 flex justify-between items-center">
    <%= form_with(url: lab_tests_path, method: :get, class: "inline-flex items-center") do |f| %>
    <div class="inline-flex items-center">
        <span class="mr-3 text-sm font-medium"><%= t('.from') %></span>
        <%= f.date_field :start_date, 
          value: params[:start_date] || Rails.application.config.x.dates[:default_start_date].call,
          min: Rails.application.config.x.dates[:min_date],
          max: Rails.application.config.x.dates[:max_date],
          onchange: "this.nextElementSibling.nextElementSibling.min=this.value",
          class: "rounded-md border border-gray-300 py-2 px-3 mr-6",
          placeholder: "mm/dd/yyyy" %>

        <span class="mr-3 text-sm font-medium"><%= t('.to') %></span>
        <%= f.date_field :end_date, 
          value: params[:end_date] || Rails.application.config.x.dates[:default_end_date].call,
          min: params[:start_date] || Rails.application.config.x.dates[:min_date],
          max: Rails.application.config.x.dates[:max_date],
          class: "rounded-md border border-gray-300 py-2 px-3 mr-6",
          placeholder: "mm/dd/yyyy" %>

        <%= f.submit t('.filter'), 
          class: "primary-button" %>
    </div>
    <% end %>
</div>