<tr id="<%= dom_id biomarker %>" class="bg-white border-b bg-white border-gray-300 hover:bg-gray-700 hover:text-white text-center">
  <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
    <%= biomarker.name %>
  </th>
  <td class="px-6 py-4">
    <%= format_date_with_time biomarker.created_at %>
  </td>
  <td class="px-6 py-4">
    <%= format_date_with_time biomarker.updated_at %>
  </td>
  <td class="px-6 py-4 text-center">
    <%= link_to "Show details", biomarker, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </td>
</tr>