<div id="<%= dom_id biomarker %>" class="border-double shadow-lg ring-4 rounded-lg">
  <div class="m-8">

    <p class="pt-2 pr-6">
      <strong>Name:</strong>
      <%= biomarker.name %>
    </p>

    <div class="flex flex-row space-x-4">
      <% biomarker.reference_ranges.each do |reference_range| %>
        <div class="basis-1/3 ring-2 rounded-lg p-4 pb-0 mb-4">
          <p>
            <strong>Min value:</strong>
            <%= format_biomarker_value(reference_range.min_value, reference_range.unit) %>
          </p>

          <p>
            <strong>Max value:</strong>
            <%= format_biomarker_value(reference_range.max_value, reference_range.unit) %>
          </p>

          <p>
            <strong>Source:</strong>
            <%= reference_range.source %>
          </p>

          <p>
            <strong>Created at:</strong>
            <%= format_date_with_time reference_range.created_at %>
          </p>

          <p>
            <strong>Updated at:</strong>
            <%= format_date_with_time reference_range.updated_at %>
          </p>

          <% if policy(reference_range).destroy? %>
            <%= button_to(
                  "Remove this Reference Range",
                  reference_range,
                  method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "delete-button font-bold py-2 px-4 rounded"
                ) %>
          <% end %>

        </div>
      <% end %>
    </div>

  </div>

</div>
