<%= form_with(model: biomarker) do |form| %>
  <% if biomarker.errors.any? %>
    <%= render "layouts/error_flash",
               header: "#{pluralize(biomarker.errors.count, "error")} prohibited this biomarker from being saved:",
               errors: biomarker.errors.full_messages
    %>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  -----------------------------------------------

  <p>
    <strong>Reference ranges:</strong>
  </p>

  <%= render "reference_ranges_form", form: form %>

  <div>
    <%= form.submit class: "my-4 edit-button" %>
  </div>
<% end %>
