<div class="grid grid-cols-3 gap-4">
  <% health_record.lab_tests.each do |lab_test| %>
    <div class="ring-2 rounded-lg p-4 pb-0 bg-teal-500">

      <p>
        <strong>Biomarker Name:</strong>
        <%= lab_test.biomarker.name %>
      </p>

      <p>
        <strong>Value:</strong>
        <%= format_biomarker_value(lab_test.value, lab_test.unit) %>
      </p>

      <p>
        <strong>Reference range:</strong>
        <%= format_reference_range(lab_test.reference_range.min_value, lab_test.reference_range.max_value, lab_test.reference_range.unit) %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= lab_test.notes %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= format_date_with_time lab_test.created_at %>
      </p>

      <p>
        <strong>Updated at:</strong>
        <%= format_date_with_time lab_test.updated_at %>
      </p>

      <% if policy(lab_test).destroy? %>
        <%= button_to(
              "Remove this Lab Test",
              lab_test,
              method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "delete-button font-bold py-2 px-4 rounded"
            ) %>
      <% end %>

    </div>
  <% end %>
</div>
