<%= form_with(model: health_record) do |form| %>
  <% if health_record.errors.any? %>
    <%= render "layouts/error_flash",
               header: "#{pluralize(health_record.errors.count, "error")} prohibited this health record from being saved:",
               errors: health_record.errors.full_messages
    %>
  <% end %>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit class: "my-4 edit-button" %>
  </div>
<% end %>
