<tr id="<%= dom_id health_record %>" class="bg-white border-b bg-white border-gray-300 hover:bg-gray-700 hover:text-white text-center">
  <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
    <%= health_record.user.full_name %>
  </th>
  <td class="px-2 py-2 text-ellipsis overflow-hidden max-w-20 whitespace-nowrap">
    <%= health_record.notes %>
  </td>
  <td class="px-6 py-4">
    <%= format_date_with_time health_record.created_at %>
  </td>
  <td class="px-6 py-4">
    <%= format_date_with_time health_record.updated_at %>
  </td>
  <td class="px-6 py-4 text-center">
    <%= link_to "Show details", health_record, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </td>
</tr>