<div id="<%= dom_id @health_record %>" class="border-double shadow-lg ring-4 pb-0.5 mb-2 rounded-lg">
  <div class="m-8">

    <p class="pt-2 pr-6">
      <strong>Full Name:</strong>
      <%= @health_record.user.full_name %>
    </p>

    <p class="pt-2 pr-6">
      <strong>Notes:</strong>
      <%= @health_record.notes %>
    </p>

    <p class="pt-2 pr-6">
      <strong>Created at:</strong>
      <%= format_date_with_time @health_record.created_at %>
    </p>

    <p class="pt-2 pr-6">
      <strong>Updated at:</strong>
      <%= format_date_with_time @health_record.updated_at %>
    </p>

    <div class="mt-9">
      <%= link_to "Edit this health record",
                  edit_health_record_path(@health_record),
                  method: :get,
                  class: "edit-button"
      %>
      <%= link_to "Back to health records",
                  health_records_path,
                  method: :get,
                  class: "secondary-button"
      %>

      <%= button_to(
            "Remove this Health Record",
            @health_record,
            method: :delete,
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "delete-button"
          ) %>
    </div>

    <% unless @health_record.measurements.empty? %>
      <%= render "detail_view_measurements", health_record: @health_record %>
    <% end %>

    <% unless @health_record.lab_tests.empty? %>
      <%= render "detail_view_lab_tests", health_record: @health_record %>
    <% end %>

  </div>

</div>
