<div id="<%= dom_id measurement %>" class="border-double shadow-lg ring-4 rounded-lg">
  <div class="m-8">

    <p class="pt-2 pr-6">
        <strong>User:</strong>
        <%= measurement.user.full_name %>
      </p>

    <p class="pt-2 pr-6">
        <strong>Type:</strong>
        <%= measurement.measurement_type %>
      </p>

    <p class="pt-2 pr-6">
        <strong>Value:</strong>
        <%= "#{measurement.value} #{measurement.unit}" %>
      </p>

    <p class="pt-2 pr-6">
        <strong>source:</strong>
        <%= measurement.source %>
      </p>

    <p class="pt-2 pr-6">
        <strong>Notes:</strong>
        <%= measurement.notes %>
      </p>

    <p class="pt-2 pr-6">
        <strong>Created at:</strong>
        <%= format_date_with_time measurement.created_at %>
      </p>

    <p class="pt-2 pr-6">
        <strong>Updated at:</strong>
        <%= format_date_with_time measurement.updated_at %>
      </p>

      <% if policy(measurement).destroy? %>
        <%= button_to "Remove this Measurement", measurement, method: :delete, class: "mb-6 delete-button font-bold py-2 px-4 rounded" %>
      <% end %>

  </div>

</div>
