<%= form_with(model: measurement) do |form| %>
  <% if measurement.errors.any? %>
    <%= render "layouts/error_flash",
               header: "#{pluralize(measurement.errors.count, "error")} prohibited this measurement from being saved:",
               errors: measurement.errors.full_messages
    %>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.number_field :type %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_field :source %>
  </div>

  <div>
    <%= form.label :recordable_type, style: "display: block" %>
    <%= form.text_field :recordable_type %>
  </div>

  <div>
    <%= form.label :recordable_id, style: "display: block" %>
    <%= form.number_field :recordable_id %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit class: "my-4 edit-button" %>
  </div>
<% end %>
