<tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>" class="bg-white border-b bg-white border-gray-300 hover:bg-gray-700 hover:text-white text-center">
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
          <%= user.full_name %>
        </th>
        <td class="px-2 py-2">
          <%= user.email %>
        </td>
        <td class="px-2 py-2">
          <%= user_roles_list_as_string user %>
        </td>
        <td class="px-6 py-4">
          <%= format_date_with_time user.created_at %>
        </td>
        <td class="px-6 py-4">
          <%= format_date_with_time user.updated_at %>
        </td>
        <td class="px-6 py-4 text-center">
          <%= link_to "Show details", admin_user_url(user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
        </td>
      </tr>
    <% end %>
</tbody>
