 <h1 class="text-2xl my-3">Editing user roles</h1>

<%= form_with model: @user, url: update_roles_admin_user_path(@user), method: :post do |form| %>
  <% if @user.errors.any? %>
     <%= render "layouts/error_flash",
                header: "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:",
                errors: @user.errors.full_messages
     %>
  <% end %>

  <div>
    <%= form.label :roles, style: "display: block" %>
    <%= form.select :roles,
                    options_for_select(@roles, user_role_names_list(@user)),
                    {},
                    multiple: true %>
  </div>

  <div>
    <%= form.submit "Update role", class: "my-4 edit-button" %>
  </div>
<% end %>

<div>
  <%= link_to "Show this user",
              admin_user_url(@user),
              method: :get,
              class: "primary-button"
  %>
  <%= link_to "Back to users",
              admin_users_path,
              method: :get,
              class: "secondary-button"
  %>
</div>

