<nav class="bg-gray-100 px-4 py-3">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <a href="/" class="w-10 h-10">
        <%= image_tag("logo.png", alt: "Logo") %>
      </a>

      <% def nav_bar_classes(page_path)
           "no-underline text-gray-700 hover:text-black #{current_page?(page_path) ? 'font-bold text-black' : ''}"
         end
      %>
      <%= link_to "Health records", health_records_path, class: "#{nav_bar_classes(health_records_path)}" %>
      <%= link_to "Lab tests", lab_tests_path, class: "#{nav_bar_classes(lab_tests_path)}" %>
      <%= link_to "Measurements", measurements_path, class: "#{nav_bar_classes(measurements_path)}" %>
      <%= link_to "Biomarkers", biomarkers_path, class: "#{nav_bar_classes(biomarkers_path)}" %>
      <% if current_user&.admin? %>
        <%= link_to "Users", admin_users_path, class: "#{nav_bar_classes(admin_users_path)}" %>
      <% end %>
      <% if assigned_users? %>
        <%= form_with url: switch_user_admin_user_path(current_user), method: :post do |form| %>
          <%= form.select :user_id,
                          options_for_select(
                            assigned_users_list_for_select(current_user, current_user),
                            @chosen_user_id
                          ),
                          { include_blank: false },
                          class: "border-blue-500 rounded"
          %>
          <%= form.submit "Switch client", class: "primary-button" %>
        <% end %>
      <% end %>
    </div>

    <div class="flex items-center space-x-4">
      <% if user_signed_in? %>
        <span class="no-underline text-gray-700">Welcome <%= current_user.full_name %></span>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "outline-primary-button", form_class: "sign-out-button" %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path, class: "create-button" %>
        <%= link_to "Sign up", new_user_registration_path, class: "outline-primary-button" %>
      <% end %>
    </div>
  </div>
</nav>